html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  position: relative;
}

.sidenav-trigger {
  cursor: pointer;
}

.str-meal {
  max-height: 10rem;
}

.card-reveal::-webkit-scrollbar, .modal-content::-webkit-scrollbar {
  display: none;
}

.divider {
  margin: 1rem 0;
  padding: 1px;
}

.activator {
  padding: 4px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.modal-close:hover {
  background-color: #ffa726;
}

 .slider .slides {
    background-color: transparent;
}

.slider .slides li img {
    background-size:100% auto;
    background-repeat: no-repeat;
}

.category-item-header, .ingredient-item-header {
  text-align: center;
  display: flex;
  align-items: center;
  border-radius: 2rem;
  padding: 1rem;
}

.collapsible-header {
  margin: 2rem 2rem 0 2rem;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}

.collapsible-body {
  margin: 0 2rem 2rem 2rem;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

#list-meal-container > img {
  margin-bottom: 2rem;
  border-radius: 2rem;
  box-shadow: 3px 3px 3px #000;
}

.material-tooltip
{
    max-width: 10rem;
    margin-top: 8rem;
}

footer {
  padding: 2rem 0;
}

@media only screen and (max-width: 992px) {
  .category-item-header {
    display: grid;
  }
}