html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  position: relative;
}